.searchBar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}
.searchBar-input {
    background-color: rgba(255,255,255,0.9);
    margin-top: 10px;
    padding: 5px 15px;
    outline: none;
    font-size: 1.4rem;
    letter-spacing: 2px;
    border: 1px solid gray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 50px;
    width: 30%;
}
.searchBar-btn {
    background-color: cornflowerblue;
    color: #fff;
    margin-top: 10px;
    padding: 10px;
    outline: none;
    border: 1px solid gray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 50px;
    cursor: pointer;
}

@media (max-width: 375px){
    .searchBar-input {
        font-size: 1rem;
        width: 70%;
    }
}

@media (max-width: 425px){
    .searchBar-input {
        font-size: 1rem;
        width: 70%;
    }
}