.searchBar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchBar-input {
    background-color: #fff;
    margin-top: 10px;
    padding: 10px;
    outline: none;
    border: 1px solid gray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 5px 10px gray;
}
.searchBar-btn {
    background-color: cornflowerblue;
    color: #fff;
    margin-top: 10px;
    padding: 10px;
    outline: none;
    border: 1px solid gray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 5px 10px gray;
}