.weatherResult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}
.weatherContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 95%;
    background-color:rgba(255, 255, 255, 0.5);
    border: 1px solid gray;
    border-radius: 5px;
    padding: 30px;
    line-height: 1.5;
}
.city {
    font-size: 3rem;
}
.weatherContainer .date,
.weatherContainer .time {
    font-size: 2rem;
}
.icon img {
    width: 100px;
    height: 100px;
}
.detail-data {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 40px;
    padding-left: 30px;
    margin-top: 10px;
}
.tempUnit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}
.unitBtn {
    padding: 8px;
    margin: 5px 10px;
    width: 50px;
    height: 30px;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}

.error-message {
    color: #000;
    font-size: 1.5rem;
    background-color:rgba(255, 255, 255, 0.5);
    border: 1px solid gray;
    border-radius: 5px;
    padding: 30px;
    line-height: 1.5;
    text-align: center;
    width: 70%;
}

@media (max-width: 375px){
    .weatherContainer {
        width: 85%;
        height: 90%;
        padding: 10px;
        line-height: 1.2;
    }
    .city {
        font-size: 2.3rem;
    }
    .weatherContainer .date,
    .weatherContainer .time {
    font-size: 1.6rem;
    }
    .detail-data {
        grid-column-gap: 20px;
        padding-left: 10px;
        margin-top: 10px;
    }
}

@media (max-width: 425px){
    .weatherContainer {
        width: 85%;
        height: 90%;
        padding: 5px;
        line-height: 1.4;
    }
    .city {
        font-size: 2.3rem;
    }
    .weatherContainer .date,
    .weatherContainer .time {
    font-size: 1.6rem;
    }
    .detail-data {
        grid-column-gap: 20px;
        padding-left: 10px;
        margin-top: 10px;
    }
}

@media (min-width: 992px){
    .weatherContainer {
        width: 65%;
        height: 90%;
        padding: 5px;
        line-height: 1.6;
    }
    .city {
        font-size: 3rem;
    }
    .detail-data {
        grid-column-gap: 40px;
        padding-left: 10px;
        margin-top: 10px;
        font-size: 1.5rem;

        color: rgb(48, 46, 46);
    } 
}

