.weatherResult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.weatherContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 80%;
    background-color:rgba(255, 255, 255, 0.5);
    border: 1px solid gray;
    border-radius: 5px;
    padding: 30px;
    line-height: 1.5;
}

.city {
    /* font-size: 56px; */
    font-size: 3rem;
}
.icon img {
    width: 100px;
    height: 100px;
}
.temp-current {
    padding-top: 5px;
    font-size: 2rem;
}
.temp-min-max {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.temp-min {
    margin-right: 30px;
}
.temp-Unit .tem-min,
.temp-Unit .temp-max {
    font-size: 0.8rem;
}
.tempUnit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}
.unitBtn {
    padding: 8px;
    margin: 5px 10px;
    width: 50px;
    height: 30px;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}

.detailBtn {
    padding: 10px;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 8px;
    width: 130px;
    font-weight: 500;
}